  p{
    color: #fff;
  }
  head{
    color:#fff
  }
  title{
    color: #fff;
  }  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-style:solid;
    border-color:white;
    
    border-radius: 80px;
    padding: 5px;
    width: 450px;
  }

  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-style:solid;
    border-color:white;
    
    border-radius: 40px;
    padding: 5px;
    width: 600px;
  }
  

  .button-to {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-to:hover,
  .button-to:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-to:active {
    background: var(--color);
    color: #fff;
  }

  .button-learnmore {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-learnmore:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-learnmore:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-learnmore {
      padding: 13px 50px 13px;
    }
  }
